@charset "UTF8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One:wght@400;700;900 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Edu+NSW+ACT+Foundation:wght@400;500;600;700 & display=swap');


:root{
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Times New Roman', Times, serif;
    --fonte3: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

* {
 margin:0px;
 padding:0px;
 font-family:Georgia, 'Times New Roman', Times, serif
}

html,body{
    min-height: 100vh;
   background-color: darkgray;
   font-family: var(--fonte1);
}
header{
    background-color: black;
    color: wheat;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;

}

header > p {
   padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3.5vw;
    padding-left: 30px;
    font-family: var(--fonte3);
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    box-shadow: inset 5px 5px 13px 0px rgba(0, 0, 0, 0.26);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.432);
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.356);
    margin: 10px;
    
}

section#img01{
  background-image: url(../imagens/bachground001.jpg);
  background-position: right center;
  background-size: cover;
}

section#img02{
 background-image: url(../imagens/background002.jpg);
 background-size: cover;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}